@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@100&display=swap');

html {
  scroll-behavior: smooth;
}

html p {
    font-size: large;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(1, 2, 19);
}
  

h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-weight: 400;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

#logo-img {
  height: 50px;
  
}

#logo-cont {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 30px;
  z-index: 10;
  
}

#nav-cont {
  display: flex;
  justify-content: flex-end;
}

#main-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: 1000;
    border-bottom: 1px solid rgba(54, 91, 133, 0.438);
    transition: background-color 1.5s ease; /* Transición suave para el cambio de color */
    background-color: transparent;
}




.hamburger {
    display: none;
  }

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
} 

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
}

header li {
    margin: 10px 20px 10px 20px;
    align-items: center;
  
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    padding: 12px;
    font-weight: 300;
    border-bottom: 1px solid rgba(49, 184, 194, 0.2); /* Añadimos una línea divisoria entre los enlaces */
}

nav a:hover {
    background-color: rgb(9, 175, 175);
    color: rgb(0, 0, 0);
    border-radius:  4px;
    text-decoration: none;
    font-size: 16px;
    padding: 12px;
}


.hero {
    position: relative;
    height: 75vh; /* Ajusta esta altura según tus necesidades */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh; /* Altura del contenedor del video */
    overflow: hidden;
    z-index: -1; /* Mover esto aquí para que el z-index del video se aplique correctamente */

}

.video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 2, 19, 0.8); /* Color de fondo con opacidad */
    z-index: 1; /* Asegurarse de que la superposición esté por encima del contenido del video */
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.content {   
    color: rgb(228, 228, 228);
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  align-items: center;
}



.puff-in-center2 {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation-delay: 4.5s;
}


.escritura {
  width: 570px;
  animation: escribiendo 10s steps(20) 1, pleca 1.0s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: solid 3px;
  font-family: 'Victor Mono', monospace;
 
}

@keyframes escribiendo {
  0%,
  100% {
    width: 0;
  }

 10%{
  width: 0;
 }
  30%,
  100% {
    width: 570px;
  }
}

@keyframes pleca {

  50% {
    border-color: transparent; /* Cambia el color a tu preferencia */
  }

}



.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation-delay: 4s;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-8-1 23:23:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

#hero-cont a {
  margin-top: 40px;
  width: 150px;
  padding: 10px;
  background-color: rgb(6, 137, 137);
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(3, 3, 3); /* Asegura que el texto sea visible en el botón */
  border: none; /* Elimina el borde por defecto */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
  transition: background-color 0.3s, transform 0.2s; /* Añade transiciones para una animación suave */
  text-decoration: none;
}

#hero-cont a:hover {
  background-color: rgb(11, 226, 226);
  transform: scale(1.05); /* Aumenta un poco el tamaño al pasar el cursor */
}


#hero-animation {
  width: 90px;
  height: 90px;
}

#sub-cont {   
    color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid rgb(69, 172, 231);
    
    

}

#sub-cont h2{   
    color: rgb(23, 210, 235);
    font-weight: 300;
    margin: 0px;
    margin-top: 10px;

}

.skills {
  
  display: flex;
  flex-direction: column;
  background-color: rgba(101, 2, 2, 0);
  padding-bottom: 40px;
  padding-top: 30px;
}

#titulo-skills {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 25px;
  padding-top: 25px;
  scroll-margin-top: 70px;
}

.about {
  
  display: flex;
  flex-direction: column;
  background-color: rgba(2, 23, 101, 0.226);
  padding-bottom: 40px;
  padding-top: 30px;
  align-items: center;
}

#titulo-about {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 25px;
  padding-top: 25px;
  scroll-margin-top: 60px;
}

.about-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 900px;
  border: solid  1px rgba(186, 186, 186, 0.354);
  padding: 30px;
  box-shadow: 0 0 10px rgba(187, 187, 187, 0.5);

}

.about-cont p{
  font-size: large;

}

#profile-pic {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  border-radius: 50%; /* Hace que la imagen sea completamente redonda */
  box-shadow: 0 0 10px rgba(187, 187, 187, 0.5); /* Agrega una sombra con desplazamiento horizontal de 0, desplazamiento vertical de 0, radio de desenfoque de 10px y opacidad de 0.5 */
}



.about p{
  color: aliceblue;
  text-align: justify;
  line-height: 30px;
  
}
.about b {
  color: rgb(23, 210, 235);
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 3s;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.skills-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 1s;
      
}

@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}

.efecto-chido {
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}


@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}



.skills-subcont {
  background-color: rgba(255, 255, 255, 0.381);
  border-radius: 8px;
  width: 300px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
  color: black;
  box-shadow: 0 0 5px rgba(2, 40, 90, 0.5);
}

.skills-subcont:hover {
  background-color: rgba(10, 116, 148, 0.5);
  color: aliceblue;
  
 
  
}

.flip-card-front h1{
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 35px;
  text-align: center;
}

.skills-subcont p{
  margin: 10px;
  text-align:center;
}

.skills-subcont img{
  width: 100%;
  
  
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .flip-card-front {
  
} */

.flip-card-back {
  transform: rotateY(180deg);
  /* Estilos para la parte trasera de la tarjeta */
}


.portafolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

#titulo-portafolio {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 25px;
  padding-top: 25px;
  scroll-margin-top: 70px;
}

.portafolio-cont {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 75%;
  border: solid  1px rgba(186, 186, 186, 0.354);
  box-shadow: 0 0 10px rgba(187, 187, 187, 0.5);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: rgba(80, 80, 137, 0.299);
  

}

.port-cont-img {
  width: 350px;
  height: 100%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

  
}

.port-img {
  width: 100%;
  margin-top: 20px;
  padding: 0;
  
 

}

.portafolio-subcont {
  color: aliceblue;
  display: flex;
  align-items: top;
  flex-direction: column;
  width: 100%;
  
}

.portafolio-subcont h2{
  color: rgb(255, 255, 255);


  
}

.portafolio-subcont p{
  margin-right: 30px;
  text-align: justify;


  
}

.port-info-label {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  
 
}

.port-info-label a{
  display: flex;
  justify-content: left;
  font-size: large;
  color: rgb(23, 210, 235);
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(1, 28, 51, 0.356);
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  
 
}

.port-info-label a:hover{
  display: flex;
  justify-content: left;
  font-size: large;
  color: rgb(23, 210, 235);
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(4, 71, 92); 
 
}


footer {
  background-color: rgb(12, 13, 28);
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img{
  width: 50px;
}

.footer-text {
  font-size: 14px;
}



.blink-1 {
	animation: blink-1 3s both;
}

@keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  


.slide-right {
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 9s;
}

@keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100px);
    }
  }

.rotate-in-center {
	animation: rotate-in-center 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 4s;
}

  
 @keyframes rotate-in-center {
    0% {
      transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      transform: rotate(0);
      opacity: 1;
    }
  }


.tracking-in-expand {
	animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 3s;
}


 @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .tracking-in-expand-2 {
	animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 2s;
}


 @keyframes tracking-in-expand-2 {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


  .header-waves {
    position:relative;
    text-align:center;
    height: 100vh;
    background: linear-gradient(60deg, rgba(83, 58, 183, 0) 0%, rgba(0, 171, 193, 0.345) 100%);
    color:rgba(255, 255, 255, 0.635);
  }
  .logo {
    width:50px;
    fill:rgba(255, 255, 255, 0.653);
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .inner-header {
    height:100px;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .waves-container {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .waves {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
    
  }
  
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }



  /* Estilos para tablet */
@media (max-width: 768px) {
    .content {
      padding-top: 150px; /* Reducción del padding para tablet */
    }

    .waves {
      position:absolute;
      bottom: 0;
      left: 0;
      height:40px;
      min-height:40px;
    }
  
  }
  
  /* Estilos para móvil */
  @media (max-width: 480px) {
    .content {
      padding-top: 100px; /* Reducción del padding para móvil */
    }

    #hero-animation {
        width: 70px;
        height: 70px;
    }

    .hero {
      position: relative;
      height: 65vh; /* Ajusta esta altura según tus necesidades */
      overflow: hidden;
  }
  
  .video-container {
      position: fixed;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100vh; /* Altura del contenedor del video */
      overflow: hidden;
      z-index: -1; /* Mover esto aquí para que el z-index del video se aplique correctamente */
  
  }

  .skills {
    padding-top: 30px;
  }

  .header-waves {
    position:relative;
    text-align:center;
    height: calc(100vh - 60px);
    background: linear-gradient(60deg, rgba(83, 58, 183, 0.226) 0%, rgba(0, 171, 193, 0.231) 100%);
    color:rgba(255, 255, 255, 0.635);
  }

  .waves {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 125px;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
    
  }

  

    h1 {
        font-size: 26px;
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        font-weight: 400;
    }

    #sub-cont h2{   
        color: rgb(23, 210, 235);
        font-weight: 300;
        font-size: 16px;
        margin: 0px;
        margin-top: 10px;
    
    }

      
         /* Ajustes para la versión móvil de la barra de navegación */
  nav {
    flex-direction: column; /* Cambiamos la dirección del flex a columna */
    background-color: rgba(0, 0, 0, 0.8); /* Añadimos un fondo de color semi-transparente */
    position: fixed; /* Hacemos que la barra de navegación quede fija en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    height: 50%; /* Hacemos que ocupe toda la altura de la pantalla */
    width: 100%; /* Hacemos que ocupe todo el ancho de la pantalla */
    justify-content: center; /* Alineamos los elementos al principio (arriba) */
    padding-top: 50px; /* Añadimos un padding en la parte superior para que los enlaces no queden pegados al borde superior */
    transition: transform 0.5s ease; /* Añadimos una transición para que la animación sea suave */
    transform: translateY(-150%); /* Desplazamos la barra hacia arriba para que quede oculta inicialmente */
    margin: 0px;
  }

 

  .hamburger {
    display: block; /* Hacemos que el botón del menú se muestre como bloque para ocupar todo el ancho disponible */
    background: none;
    border: none;
    font-size: 24px; /* Tamaño del icono */
    color: white;
    cursor: pointer;
    z-index: 10;
    margin-right: 30px;
  }

  /* .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  } */


  #header-nav {
    display: flex;
    flex-direction: column;
  }

  nav a {
    display: block; /* Hacemos que los enlaces ocupen todo el ancho y se muestren uno debajo del otro */
    padding: 15px 20px; /* Añadimos un poco más de espacio entre los enlaces */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Añadimos una línea divisoria entre los enlaces */
  }

  nav a:hover {
    display: block; /* Hacemos que los enlaces ocupen todo el ancho y se muestren uno debajo del otro */
    padding: 15px 20px; /* Añadimos un poco más de espacio entre los enlaces */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Añadimos una línea divisoria entre los enlaces */
  }


  /* Ajustes para la lista desplegable */
  li {
    display: block; /* Hacemos que los elementos de la lista ocupen todo el ancho y se muestren uno debajo del otro */
    text-align: center; /* Centramos el contenido del elemento */
    margin: 10px 0; /* Añadimos un pequeño margen entre los elementos */
  }

  .skills-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .skills-subcont {
    margin-bottom: 20px;
  }


  .escritura {
    width: 100%;
    animation: escribiendo 10s steps(20) 1, pleca 1.0s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px;
    font-family: monospace;
   
  }

  .about-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    border: solid  1px rgba(186, 186, 186, 0.354);
    padding: 30px;
    box-shadow: 0 0 10px rgba(187, 187, 187, 0.5);
  
  }

  #profile-pic {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .portafolio-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    border: solid  1px rgba(186, 186, 186, 0.354);
    box-shadow: 0 0 10px rgba(187, 187, 187, 0.5);
    border-radius: 5px;
    
  
  }

  .portafolio-subcont h2   {
    text-align: center;
  }


  .portafolio-subcont p {
    margin: 10px;
  }

  .port-cont-img {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .port-img {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }

  .port-info-label{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes escribiendo {
    0%,
    100% {
      width: 0;
    }
  
   10%{
    width: 0;
   }
    30%,
    100% {
      width: 100%;
    }
  }
  
  @keyframes pleca {
  
    50% {
      border-color: transparent; /* Cambia el color a tu preferencia */
    }
  
  }
}
      


      
      
      
      




  